.friend-info {
    display: flex;
    align-items: center;
}

.friend-avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px; /* ここでアイコンと名前の間の空白を調整 */
    border-radius: 50%;
}

.friend-status {
    display: flex;
    align-items: center;
    margin-left: -50px; /* ここでStatusの位置を左に調整 */
}

.friend-status-details {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.friend-status-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px; /* 数字同士の間隔を調整 */
}

.friend-status-details span:first-child {
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
    text-align: center;
}

.friend-status-details span:last-child {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


/* ドットの配置を縦に変更 */
.dots {
    font-size: 24px;
    display: inline-block;
    line-height: 1; /* ドット間のスペースを最小にする */
    transform: rotate(90deg); /* 必要に応じて回転させて縦にする */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
