.friends-container {
    padding: 20px;
    color: #000; /* 全体のテキスト色を黒に設定 */
    text-align: left; /* テキストを左揃えに設定 */
  }
  
  .friends-list {
    display: flex;
    flex-direction: column; /* フレンドリストを縦に並べる */
    gap: 10px;
  }
  
  .friend-card {
    display: flex;
    align-items: center; /* カード内のアイテムを中央揃えにする */
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .friend-info {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .friend-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .friend-details {
    margin-left: 10px;
    width: 100%; 
  }
  
  .friend-details h2 {
    margin: 5;
    font-size: 1.2em;
    color: #000; /* 名前の色を黒に設定 */
  }
  
  .friend-stats {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
  
  .friend-stats div {
    text-align: center;
    color: #000; /* テキストの色を黒に設定 */
  }
  
  .friend-stats span:first-child {
    display: block;
    font-size: 0.8em;
    color: #888; /* ラベルの色 */
  }
  
  .friend-stats span:last-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #000; /* 値の色を黒に設定 */
  }
  
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .achievement-label {
    font-size: 0.8em;
    margin-bottom: -15px;
    color: #888; /* テキスト色を黒に設定 */
  }
  